

<div class="left">
  <div class='regNums'>
   <form action="/registration-number" method="POST">
     <label class='regLab' for="plateNum">Registration Number:</label>
    
  
     <div class='block'>

       <input class='number' type="text" name='number'maxlength='10' placeholder="CA 123-456"></div>
     
     <div class='block'><button>Add <i class="fa fa-angle-double-right fa-1x"></i></button></div>

  
     
   </form>
     </div>
   
   <div class='bottom'>
  <div class='plates'><h2>CA 123-456</h2><a href="#">delete</a></div>
    <div class='plates'><h2>CA 123-456</h2><a href="#">delete</a></div>
    <div class='plates'><h2>CA 123-456</h2><a href="#">delete</a></div>
    <div class='plates'><h2>CA 123-456</h2><a href="#">delete</a></div>
    <div class='plates'><h2>CA 123-456</h2><a href="#">delete</a></div>

</div>
  </div>
<div class="right">
  
  <div class='citybox'>
  <h1>Add City</h1>
  <br>
  
<div>
  <form action="#" method="POST">
    
    <label for="citycode"><h2>Code:</h2></label>
    <div class='citycode'><input type="text" name='citycode' minlength='2' maxlength="3"></div>
    
    <label for="city"><h2>City:</h2></label>
    <div class='city'><input type="text" name='city' class='code'></div>
    
    <div class='btn'><input type="submit"></div>
    
  </form>
    </div>

</div>
<div class='filterbox'>
  <h1>Filter</h1>
  <br>
  
<label for="location"><h2>Location:</h2></label>


<form action="#">
  <select name="location">
    <option value="All">All</option>
    <option value="Cape Town">Cape Town</option>
    <option value="Bellville">Bellville</option>
    <option value="Paarl">Paarl</option>
    <option value="Oudtshoorn">Oudtshoorn</option>
  </select>
  </form>
  </div>
</div>

