<div class="left">
  <div class='regNums'>
   <form action="#">
     <label class='regLab' for="plateNum">Registration Number:</label>
    
   
     <div class='block'><input class='code' type="text" name='code' minlength='2' maxlength="3" onKeyUp="checkCode()">

       <input class='number' type="text" name='number'maxlength='8'></div>
     
     <div class='block'><button>Add <i class="fa fa-angle-double-right fa-1x"></i></button></div>

  
     
   </form>
     </div>
   
  </div></div>
<div class="right">
    <div class='filterbox'>
  <h1>Filter</h1>
  <br>
  
<label for="location"><h2>Location:</h2></label>


<form action="#">
  <select name="location">
    <option value="All">All</option>
    <option value="Cape Town">Cape Town</option>
    <option value="Bellville">Bellville</option>
    <option value="Paarl">Paarl</option>
    <option value="Oudtshoorn">Oudtshoorn</option>
  </select>
  </form>
  </div>
</div>
<div class='bottom'></div>
